.categorie {
    background-color: #42855B;
    color: white;
    padding: 16px;
    border: none;
  }
  
  .deroulant {
    position: relative;
    display: inline-block;
  }
  
  .menu {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .menu a:hover {background-color: #ddd;}
  
  .deroulant:hover .menu {display: block;}
  
  .deroulant:hover .categorie {background-color: #3e8e41;}




input[type=text]{
  padding: 6px;
  margin-top: 8px;
  border-color: #42855B;
  float: center; 
}

form{
  float: center; 
}

.barre{
  width: 40%; 
  margin: auto; 
  border-color: #42855B;
}

button{
  float: center;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #42855B;
  border-color: #42855B;
  cursor: pointer;
}


.clique {
	width: 25%;
	margin : 2% 2%; 
    position: relative;
    display:flex;
	justify-content: center; 
	flex-wrap : wrap; 
}


h1{
  margin: 10px;
  text-align: left;
}

p{
  color: white; 
}

#cat { 
	display:flex;
	justify-content: center; 
	flex-wrap : wrap; 
}



.clique{
  width: 30%;
	height: 30%;
	border: none 1px;
	border-radius: 20px;
	background: #534340; 
 	margin : 0px 15px 15px ;  
	padding : 15px ;
}