/*style header*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9f9f9;
}

/* Style Header */
header {
  font-family: "Montserrat", sans-serif;
  color: #f9f9f9;
  background-color: #42855b;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
}

.container-nav {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.container-nav a {
  text-decoration: none;
  color: #f9f9f9;
}

.icon-text {
  width: 70px;
  display: flex;
  padding: 5px;
  flex-direction: column;
  align-items: center;
  transition: 0.4s;
  border-radius: 10px;
  border: solid 2px transparent;
}

.icon-text:hover {
  background-color: #28593a;
  border: solid 2px #f9f9f9;
}

.icon {
  margin: 5px;
  width: 20px;
  height: 20px;
}

/*fin header*/
#recherche{
  display:flex;
	justify-content: center; 
	flex-wrap : wrap; 
}

  
  .deroulant {
    position: relative;
    display: inline-block;
  }
  select {
    background-color: #42855B;
    color: white;
    padding: 16px;
    border: none;
    border-radius: 20px;
  }

#familiesSelector option {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

input[type=text]{
  padding: 6px;
  margin-top: 8px;
  border-color: #42855B;
  float: center; 
}

form{
  float: center; 
}

.place .deroulant{
  float: left; 
}
.place{
  padding:20px;
}


.barre{
  position: relative;
  display:flex;
  margin :auto; 
	justify-content: center; 
	flex-wrap : wrap; 
}

.barre button{
  float: center;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #42855B;
  border-color: #42855B;
  cursor: pointer;
}


.clique {
  position: relative;
  display:flex;
	justify-content: center; 
	flex-wrap : wrap; 
  width: 25%;
	height: 30%;
	border: none 1px;
	border-radius: 20px;
	background: #534340; 
 	margin : 0px 15px 15px ;  
	padding : 15px ;
}

.clique hr{
    width: 80%;
    margin: 8px auto;
}

.clique p:first-child{
  text-align: center;
}

.titre{
  width: 100%;
}

h2{
  margin: 10px;
  text-align: left;
}

p{
  color: white; 
}

#cat { 
	display:flex;
	justify-content: center; 
	flex-wrap : wrap; 
}

.selection{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.plus{
  width: 50%; 
}

