#familiesSelector {
  background-color: #42855b;
  margin: 20px;
  width: 200px;
  font-weight: 700;
  border-radius: 5px;
  border: black solid 2px;
  padding: 5px;
  color: #f9f9f9;
  text-decoration: none;
}

#practicies-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.practice-container {
  color: #f9f9f9;
  gap: 10px;
  margin: 10px;
  border: transparent solid 4px;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 200px;
  background-color: #534340;
  font-size: 12px;
}

.practice-container h1 {
  text-align: center;
}

.practice-container button {
  cursor: pointer;
  width: 50px;
  background-color: transparent;
  border: none;
  margin: auto;
}

.isSelected {
  border: #42855b solid 4px;
}

.isVital {
  border: red solid 4px;
}

#pagination-container {
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin: auto;
  margin-bottom: 10px;
}

#pagination-container button {
  padding: 5px;
  border: 2px solid transparent;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
}

#pagination-container button:focus {
  color: white;
  background-color: #28593a;
  border: #534340 solid 2px;
}

@media (max-width: 1200px) and (min-width: 300px) {
  #pagination-container {
    flex-wrap: wrap;
    width: 90%;
  }
}
