body {
    font-family: 'Montserrat', sans-serif;
}

.group-header {
    margin: auto;
    margin-top: 20px;
    width: fit-content;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #F9F9F9;
    font-weight: 900;
    padding: 20px;
    background-color: #534340;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 50px auto;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
    background-color: #534340;
    color: #ffffff;
    text-align: left;
}

table th,
table td {
    padding: 12px 15px;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.link-panier {
    margin: 20px auto;
    align-items: center;
    display: flex;
    justify-content: space-around;
    background-color: #42855b;
    width: 150px;
    padding: 15px;
    border-radius: 15px;
    border: #28593a solid 2px;
    text-decoration: none;
    color: #F9F9F9;
    font-weight: 900;
    transition: 0.4s;
}

.link-panier:hover {
    border: black solid 2px;
    background-color: #28593a;
}

.link-panier img {
    width: 20px;
}

@media (max-width: 1200px) and (min-width: 300px) {

    .group-header,
    table {
        font-size: 10px;
    }

    .link-panier {
        font-size: 10px;
        width: 120px;
    }
}