@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

body {
    background-color: #F9F9F9;
}

/* Style Header */
header {
    color: #F9F9F9;
    background-color: #42855B;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.container-nav a {
    text-decoration: none;
    color: #F9F9F9;
}

.icon-text {
    width: 70px;
    display: flex;
    padding: 5px;
    flex-direction: column;
    align-items: center;
    transition: 0.4s;
    border-radius: 10px;
    border: solid 2px transparent;
}

.icon-text:hover {
    background-color: #28593A;
    border: solid 2px #F9F9F9;
}

.icon {
    margin: 5px;
    width: 20px;
    height: 20px;
}